@font-face {
  font-family: "Poppins";
  src: local("../fonts/Poppins-Regular.ttf"),
    url("../fonts/Poppins-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Poppins-md";
  src: local("../fonts/Poppins-Medium.ttf"),
    url("../fonts/Poppins-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Poppins-bold";
  src: local("../fonts/Poppins-Bold.ttf"),
    url("../fonts/Poppins-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Sora-bold";
  src: local("../fonts/Sora-Bold.ttf"),
    url("../fonts/Sora-Bold.ttf") format("opentype");
}
